<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Suzuki Untuk Bandung</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Plugin -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Main Styles -->
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="assets/images/logo_navbar_suzuki.png" width="200px" alt="">
                    <span class="ml-2"> | Setiabudi Bandung</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="pt-1 tagline_mobile">
                    <p>Setiabudi Bandung</p>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/harga.html">Daftar Harga</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/kontak.html">Kontak</a>
                            </li>
                        </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar End-->

        <!-- Slider -->
        <div class="main-carousel">
            <div class="carousel-cell">
                <img src="assets/images/banners/1.webp" data-flickity-lazyload="assets/images/banners/1.webp" class="carousel-img" alt="">
            </div>
            <div class="carousel-cell">
                <img src="assets/images/banners/2.webp" data-flickity-lazyload="assets/images/banners/2.webp" class="carousel-img" alt="">
            </div>
            <div class="carousel-cell">
                <img src="assets/images/banners/3.webp" data-flickity-lazyload="assets/images/banners/3.webp" class="carousel-img" alt="">
            </div>
            
        </div>
        <!-- Slider End -->
        
        <div class="wrapper">
            <div class="container">
                <div class="main__border-left pl-md-3" data-aos="fade-right">
                    <h4 class="main__tagline">Berkendara bukan hanya sebuah perjalanan, namun cerita dan kebanggaan.</h4>
                    <p class="main__subtagline">Temukan berbagai mobil pilihan Suzuki yang dirancang khusus dengan presisi melalui teknologi modern dan desain stylish sesuai gaya Anda.</p>
                </div>
                
                <div class="main__header text-center mt-2 mt-md-5" data-aos="fade-up">
                    <small>Temukan</small>
                    <h3>Mobil Suzuki</h3>
                    <p>Yang Tepat Untuk Anda</p>
                </div>

            </div>

            <div class="container-fluid">
                <div class="main-content">
                    <h4 class="text-primary-suzuki text-center" data-aos="fade-up">PASSENGER CAR</h4>

                    <div class="row px-0 px-md-5 justify-content-center">
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>All New Ertiga</h5>
                                        <img src="assets/images/cars/all-new-ertiga-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 228.000.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>All New Ertiga Suzuki Sport</h5>
                                        <img src="assets/images/cars/ertiga-sport-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 259.250.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>Karimun Wagon R</h5>
                                        <img src="assets/images/cars/wagon-r-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 136.000.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>Karimun Wagon R GS</h5>
                                        <img src="assets/images/cars/b6244-mun-rgs-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 145.000.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>Apv New Luxury</h5>
                                        <img src="assets/images/cars/APV-New-Luxury-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 234.000.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>Apv Arena</h5>
                                        <img src="assets/images/cars/APV-ARENA-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 185.500.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>Ignis</h5>
                                        <img src="assets/images/cars/ignis-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 166.000.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>Ignis Sport Edition</h5>
                                        <img src="assets/images/cars/ignis-sport-plain-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 185.000.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>New SX4 S-Cross</h5>
                                        <img src="assets/images/cars/scross-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 289.500.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>Baleno</h5>
                                        <img src="assets/images/cars/baleno-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 223.000.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>Jimny</h5>
                                        <img src="assets/images/cars/jimny-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 340.500.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <h4 class="text-primary-suzuki text-center mt-3" data-aos="fade-up">Commercials Car</h4>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3 mt-2 mt-md-4 mx-auto text-center" data-aos="fade-up">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-body">
                                        <h5>New Carry Pick-Up</h5>
                                        <img src="assets/images/cars/new-carry-thumb.jpg" class="car_thumb" alt="all new ertiga">
                                        <p>Mulai Dari</p>
                                        <h2 class="text_price"><span class="rp">Rp.</span> 141.800.000,-</h2>
                                        <small class="text-muted mt-3">Jelajahi > </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            

            <footer class="mt-4 p-4">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            &copy; 2019 
                        </div>
                        <div class="col-12 col-md-6">
                            <small>Halaman ini bukan halaman resmi suzuki, melainkan hanya untuk kebutuhan marketing.</small>
                        </div>
                    </div>
                </div>
            </footer>

            <a class="socmed-button" href="javascript:void(0);" onclick="whatstappMe()">
                <i class="fa fa-whatsapp"></i>
            </a>

            <a href="#" id="scroll-top"><span></span></a>
            </a>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Flickity -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Main Script -->
    <script src="assets/js/script.js"></script>

  </body>
</html>